@media screen and (min-width: 1520px) {
    p{
        font-size: calc(1rem + 0.3rem + 0.4vw);
    }
    nav a{
        font-size: calc(1rem + 0.3rem + 0.1vw);
    }
    .btn-style{
        font-size: calc(1rem + 0.3rem + 0.2vw);
    }
    .page-group-item-ul h4, .page-group-item-ol h4, .page-group-item-text h4{
        font-size: calc(1rem + 0.4rem + 0.6vw);
    }
    h3{
        font-size: calc(1rem + 0.8rem + 0.5vw);
    }
}
@media screen and (max-width:1470px){
    .types-modular-content h3{
        width: 70%;
    }
    .types-modular{
        padding-top: 80px;
    }
}
@media screen and (max-width:1290px){
    .page-content-body{
        padding-top: 0;
    }
    .page-content-body h4{
        max-width: 70%;
    }
    .page-group{
        padding: 50px 0;
    }
    .page-group-nums li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .swiper-block{
        padding: 70px 0 70px 80px;
    }
    .page-group ul{
        margin-top: 20px;
    }
    .types-modular-content h3{
        width: 100%;
    }
    .types-modular-content>ul{
        margin: 30px 0 40px;
    }
}
@media screen and (max-width:1199px){
    .top-screen-info{
        margin-top: 10vh;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .media-content{
        width: 100%;
    }
    .swiper-block{
        padding: 70px 0 140px 20px;
    }
    .swiper-slide-image{
        height: 400px;
    }
    .page-content-title{
        padding: 60px 0;
    }
    .page-group ul li{
        font-size: calc(1rem + 0.2rem + 0.1vw);
    }
    .types-modular{
        gap: 40px;
        width: 100%;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .page-group, .page-group-item-ul, .page-group-item-ol, .page-group-item-text{
        grid-template-columns: 1fr 1.7fr;
        gap: 30px;
    }
    .page-group-item-ul>div:first-child, .page-group-item-ol>h3:first-child, .page-group-item-ul h3, .page-group-item-ol h3, .page-group-item-ul>div>p, .page-group-item-ol>div>p{
        max-width: 90%;
    }
    .page-content-title{
        align-items: center;
    }
    .module-content-box>div{
        height: 480px;
    }
} 
@media screen and (max-width:992px){
  .logo{
    width: 100px;
  }
  .static-block>div{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .static-block ul{
    justify-items: center;
  }
  .fixed-content{
    width: 50%;
  }
  .footer-form-box h4{
    width: 100%;
    font-size: 16px;
  }
  .types-modular img{
    max-height: 1200px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
} 
@media screen and (max-width:870px){
    h1{
        padding-top: 10vh;
    }
    .top-screen-info{
        flex-direction: column;
        gap: 20px;
    }
    .top-screen-info p, .top-screen-info p+p{
        width: 100% ; 
    }
    button.style1{
        display: block;
    }
    header>.container>.contact-btn{
        display: none;
    }
    header{
        position: relative;
    }
    header nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 0px;
        overflow: hidden;
        top: 100%;
        right: 0;
        background: var(--secondary);
        z-index: 300;
        transition: all .4s linear;
    }
    .header-nav.active{
        width: 400px;
    }
    header nav .btn-style{
        display: block;
        max-width: 100px;
        text-align: center;
        margin: 30px auto;
        width: max-content;
    }
    header nav ul{
        flex-direction: column;
        margin-top: 30px;
        justify-content: left;
        padding: 0 30px;
        position: relative;
        left: 20px;
        width: max-content;
        box-sizing: border-box;
        align-items: flex-start;
    }
    .menu-item-has-children .sub-menu{
        position: static;
        margin: 0;
    }
    .sub-menu a{
        flex-direction: row;
    }
    .sub-menu li{
        padding: 20px;
        margin-right: auto;
    }
    .menu-item-has-children:hover .sub-menu{
        height: auto;
        gap: 0;
        padding: 0; 
        max-height: 800px;
    }
    .sub-menu img{
        width: 100px;
    }
    .parallax1{
        position: static !important;
    }
    .video-container-scale{
        position: static;
        width: 100%;
        height: auto;
        display: none;
    }
    .top-screen{
        height: auto;
        margin-bottom: 50px;
    }
    .fly-box.video-mobile{
        display: flex;
    }
    #content1{
        display: none;
    }
    .page-content-title h2{
      max-width: 300px;
      width: 100%;
    }
    .swiper-slide-image{
        height: 360px;
    }
    .module-content-box>div{
        height: 360px;
    }
}
@media screen and (max-width:767px){
    footer .footer-form{
        flex-direction: column;
        gap: 50px;
    }
    .footer-contact{
        position: static;
    }
    .footer-form{
        max-width: 500px;
        margin: 0 auto;
    }
    .footer-form-box{
        width: 100%;
    }
    .footer-contact{
        justify-content: space-between;
        flex-direction: row;
    }
    .footer-form h2{
        width: 100%;
        max-width: 200px;
    }
    .fly-box p{
        max-width: 50%;
    }
    .footer-info-site{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .footer-info-site a, .footer-info-site p{
        font-size: 0.9rem;
    }
    .page-content-title{
        flex-direction: column;
        align-items: start;
        gap: 80px;
        padding: 50px 0;
    }
    .page-content-title h2{
        max-width: 100%;
    }
    .page-content-title p{
        width: 100%;
    }
    .page-group{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .page-group-item-ul, .page-group-item-ol{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 80px 0;
    }
    .page-group-nums>ul{
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
    .page-group-nums li span{
        margin-top: 11px;
    }
    .page-group ul li::before{
        margin-top: 5px;
    }
    .page-group-item-ul h3, .page-group-item-ol h3{
        margin: 0 0 20px;
    }
    .page-group-item-ol h3{
        margin: 0;
    }
    .types-modular{
        flex-direction: column;
        display: flex;
        padding: 0;
        gap: 40px;
    }
    .types-modular-content{
        padding: 0 20px;
    }
    .page-group-item-text{
        flex-direction: column;
        display: flex; 
    }
    .page-group-item-text{
        padding: 100px 0;
    }
    .swiper-slide-image,.module-content-box>div{
        height: 320px;
    }
    .module-content-items .item-module-content{
        width: 200px;
        left: calc(50% - 100px);
    }
    .page-content-body h4, .page-group-item-ul>div:first-child, .page-group-item-ol>h3:first-child{
        position: relative;
    }
}
@media screen and (max-width:575px){
    footer .footer-form{
        padding-top: 50px;
        margin-bottom: 80px;
    }
    h1{
        padding-top: 45px;
    }
    .page-group-item-text ul{
        gap: 30px;
        grid-template-columns: 1fr;
    }
    .top-screen-info{
        margin: 30px 0 0 ;
    }
    .static-block{
        padding: 80px 0 0;
    }
    .static-block>div{
        padding-bottom:85px;
    }
    .footer-form-box h4{
        margin: 0 0 40px;
    }
    .footer-form-box input{
        font-size: .9rem;
        margin: 0 0 20px;
    }
    form .btn-style{
        margin-top: 40px;
    }
    .footer-contact{
        margin-top: 30px;
        flex-direction: column;
        gap: 15px;
    }
    .fixed-content{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .swiper-wrapper{
        flex-direction: column;
        gap: 30px;
    }
    .swiper-block{
        padding: 100px 20px;
    }
    .module-content-box{
        display: flex;
        flex-direction: column;
    }
    .page-group-item-ul ul, .page-group-item-ol ol{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .page-group-nums p{
        font-size: .9rem;
    }
    .swiper-slide-image{
        height: 290px;
    }
    h3{
        font-size: calc(1rem + 0.6rem + 0.2vw);
    }
    p{
        font-size: .9rem;
    }
}


