html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
    width: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none; 
}
button{
    background: none;
    border: none;
}
@font-face {
    font-family: 'Inter Tight'; 
    src: 
        url('./font/InterTight-Italic.woff2') format('woff2'),
        url('./font/InterTight-Italic.woff') format('woff'); 
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Tight'; 
    src:   
        url('./font/InterTight-Regular.woff2') format('woff2'),
        url('./font/InterTight-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    --black: #121212;
    --blue:#2B73DC;
    --blue-hover:#084cb1;
    --white: #fff;
    --grey:#585858; 
}
body {
    color: var(--white);
    font-family:'Inter Tight';
    background: var(--black);
}
.container{
    max-width: 100%;
    padding: 0 80px;
    width: 100vw;
    box-sizing: border-box;
    margin: 0 auto;
}
header nav a {
    color: var(--white);
    transition: all .4s linear;
}
header nav a:hover{
    opacity: .5;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 35px;
}
header{
    padding: 20px 0;
}
h1 {
    font-size: calc(1rem + 0.7rem + 3vw);
    padding-top: 16vh;
    line-height: 1.1;
}
h2{
    font-size: calc(1rem + 0.7rem + 2.1vw);
    line-height: 1.2;
}
h3{
    font-size: calc(1rem + 0.8rem + 0.2vw);
    line-height: 1.28;
}
p{
    font-size: 1rem;
    line-height: 1.38;
}
.btn-style{
    background: var(--blue);
    padding: 18px 37px;
    border-radius: 50px;
    color: var(--white);
    line-height: 1.18;
    font-weight: 400;
    transition: all .3s linear;
    display: inline-block;
}
.btn-style:hover{
    background: var(--blue-hover);
    color: var(--white);
}
header>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub-menu img{
    display: block;
    max-width: 280px;
    width: 100%;
    height: 100%;
    max-height: 149px;
}
.menu-item-has-children>a::after{
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.5 1L4 5L7.5 1' stroke='%234F4F4F'/%3e%3c/svg%3e ");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
    transition: all .4s linear;
}
.menu-item-has-children:hover a::after{
    background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.5 5L4 1L7.5 5' stroke='white'/%3e%3c/svg%3e ");
}
.menu-item-has-children>a{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.menu-item-has-children{
    position: relative;
}
.sub-menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sub-menu {
    align-items: flex-end;
   max-height: 0px;
   overflow: hidden;
   position: absolute;
   top: 100%;
   width: 50vw;
   left: 0;
   transition: all .4s linear;
   background: var(--black);
   z-index: 3;
} 
.sub-menu li{
    padding: 40px;
    opacity: .8;
    transition: all .4s linear;
}
.sub-menu li:hover{
    opacity: 1;
}
.menu-item-has-children:hover .sub-menu{
    height: 200px;
    max-height: 200px;
}
.top-screen-info p{
    width: 30%;
}
.top-screen{
    height: 90vh;
    position: relative;
}
.top-screen-info p+p{
    width: 23%;
}
.top-screen-info {
    display: flex;
    justify-content: space-between;
    margin-top: 28vh; 
}
.logo{
    width: 7vw;
}
.logo img{
    display: block;
    width: 100%;
}
.video-container-scale img, .video-container-scale video{
    display: block;
    width: 100%;
}
.wrapper{
    position: relative;
    /* width: 100vw;
    overflow: hidden; */
}
.whitw-btn{
    background: var(--white);
    color: var(--black);
}
.fly-box{
    text-align: center;
    display: flex;  
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.fly-box p{
    margin: 10px auto 50px;
    max-width: 24vw;
}
.video-container-scale {
    width: 30%;
    position: absolute;
    width: 30%;
    height: 100vh;
    left: 35%; 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
 
.fly-container .fly-box {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 3;
    justify-content: center;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .static-block{
    padding: 116px 0 188px;
  }
  .static-block>div{
    padding: 0;
    padding-bottom: 188px;
    width: 90%;
    border-bottom: 1px solid var(--grey);
  }
  .static-block span{
    font-size: calc(1rem + 0.9rem + 4.5vw);
    line-height: 1.2;
    font-weight: 600;
  }
  .static-block ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .static-block ul li{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
  }
  .static-block ul li p{
    text-transform: uppercase; 
  }
  .static-block>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }
  .scroll-image {
    position: relative;
    overflow: hidden;
    padding: 100px 0; /* Adjust padding as needed */
}
.top-screen{ 
    width: 100vw;
}
.fixed-block {
    height: 200vh;
  }
  #content1 {
    display: flex;
    align-items: center;   /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
    height: 100vh; /* Обеспечивает, что элемент занимает всю высоту экрана */
} 
  .fixed-content {
    position: sticky;
    top: 30%;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    z-index: 10;
    font-size: 2rem;
    color: #fff;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Initial downward movement for effect */
  }
  
  
  .media-content {
    width: 60%;
    opacity: 0; /* Start hidden */
    transform: translateX(50px); /* Initial slide effect, adjust for direction */
    position: relative;
    bottom: -80vh; /* Adjust this to control initial positioning */
    transition: all 0.5s ease-out;
  }
  
  .media-content img {
    width: 100%;
    display: block;
  }
  .fixed-block:nth-child(2n+1) .media-content{
    margin-left: auto;
  }
  .fixed-block-toform h2{
    font-size: calc(1rem + 0.7rem + 3vw);
    padding-top: 16vh;
    line-height: 1.1; 
    margin: 0 auto 50px;
  }
  .fixed-block-toform{ 
    width: 100%;
    height: 100vh;
    margin-bottom: 40vh;
    max-width: 100%;
  }
  .fixed-block-toform>div{
    width: 100%;
    max-width: 700px;
  }
  .footer-form-box input{
    padding: 10px 0;
    font-size: 1rem;
    line-height: 1.38;
    color: var(--white);
    display: block;
    width: 100%;
    margin: 0 0 28px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--grey);
    transition: all .3s linear;
}
.footer-form-box input::placeholder{
    color: var(--white);
}
.footer-form-box input:active, .footer-form-box input:hover, .footer-form-box input:focus {
    outline: 0;
    outline-offset: 0;
    border-bottom: 1px solid #ffffffb2;
}
.footer-form-box{
    width: 50%;
    max-width: 600px;
}
.footer-form{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}
.footer-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.footer-contact a{
    color: var(--white);
    font-size: calc(1rem + 0.3rem + 0.1vw);
    line-height: 1.2;
}
.footer-form h2{
    width: 25%;
}
.footer-form-box h4{
    margin: 0 0 70px;
    width: 50%;
    font-size: calc(1rem + 0.3rem + 0.1vw);
    line-height: 1.2;
} 
footer .footer-form{
    border-top: 1px solid var(--grey);
    padding-top: 120px;
    margin-bottom: 160px;
}
.footer-info-site{
    padding: 20px 0;
    border-top: 1px solid var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info-site ul{
    display: flex;
    align-items: center;
    gap: 27px;
}
.footer-info-site a, .footer-info-site p{
    color: #626262;
}
button.style1 {
    background: none;
    outline: none; 
    border: none;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--grey);
    padding: 10px 10px;
    box-sizing: content-box;
    box-sizing: border-box;
  }
  button.style1::before,   button.style1::after {
    content: "";
    width: 11px;
    height: 2px;
    left: 12.5px;
    background: #ffffff;
    display: block;
    position: absolute;
    border-radius: 1px;
  }
  button.style1::before {
    top: 13px;
  }
  button.style1::after {
    top: calc(100% - 14px);
  }
  
  .style1::before, .style1::after {
    transition: transform 0.2s ease, top 0.2s ease 0.1s;
  }
  .style1.open::before, .style1.open::after {
    transition: top 0.2s ease, transform 0.2s ease 0.1s;
    top: calc(50% - 1px);
  }
  .style1.open::before {
    transform: rotate(45deg);
  }
  .style1.open::after {
    transform: rotate(-45deg);
  }
  .burger-btn{
    display: none;
  }
  nav>.contact-btn{
    display: none;
  }

 
